/* You can add global styles to this file, and also import other style files */

.container{
    font-family: 'Roboto', sans-serif ;
}

.small-text{
    font-size: small;
    font-family: 'Roboto', sans-serif ;
    font-weight: bold;
}