<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                  
                    <div class="row">
                        <div class="col-4">
                            <img src="../../assets/images/blue-bus.avif" class="imgcs">
                        </div>
                        <div class="col-8 d-flex justify-content-end">
                            <i class="fa fa-wifi mx-1 text-secondary"></i>
                            <i class="fa-solid fa-pizza-slice mx-1 text-secondary"></i>
                            <i class="fa-solid fa-toilet mx-1 text-secondary"></i>
                        </div>
                    </div>
                    
                    
                    <div class="row mt-2">
                        <div class="col-1 col-md-3 d-sm-inline"></div>
                        <!-- <div class="col-3 d-none d-xl-inline"></div> -->
                        <div class="col-7">
                            <div class="row">
                                <div class="col-12 col-xl-5">
                                    <div class="row">
                                        <span class="display-6 col-12">12:30am</span>
                                    </div>
                                    <span class="text-muted">Moharam Beik Station, Blue Bus station</span>
                                </div>
                                <div class="col-2 my-3 d-none d-xl-inline">
                                    <i class="fa fa-arrow-right-long text-secondary fa-2x"></i>
                                </div>
                                <div class="col-12 col-xl-5">
                                    <div class="row">
                                        <span class="display-6 col-12">08:30pm</span>
                                    </div>
                                    <span class="text-muted">HURGHADA Al Ahyaa</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <div class="d-flex justify-content-between">
                                
                            </div>
                        </div>
                        <div class="col-3"></div>
                    </div>
                    <div class="row mt-2 d-flex flex-wrap">
                        <div class="col-6 my-auto">
                            <span class="text-secondary mx-1">
                                <i class="fa-solid fa-bus-simple"></i> 
                                <span class="d-none d-md-inline"> Bus</span>
                            </span>
                            <span class="text-secondary mx-1 ">
                                <i class="fa-solid fa-clock"></i>
                                <span> 2h 30m</span>
                            </span>
                        </div>
                        <div class="col-6">
                            <div class="d-flex justify-content-end">
                                <div class="btn btn-primary">
                                    {{'12' | currency: 'USD'}} <i class="fa-solid fa-chevron-right"></i> 
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
