.brl0 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.text-muted {
    font-size: small;
}

.no-shadow {
    box-shadow: none;
}

.pd-0 {
    padding: 0px;
}

.input-hover:hover {
    border: 1px;
    border-style: solid;
    border-color: rgb(224, 224, 224) !important;
}

.fa-arrow-right-arrow-left:hover{
    cursor: pointer;
    color: rgb(7, 20, 255);
}

.small-text{
    font-size: .7rem;
    font-weight: lighter;
}

.bold{
    font-weight: bold;
    font-size: .8rem;
}
