<div class="container ">

    <div class="card p-2 shadow-sm">
        <div class="fa-solid fa-sort-down mx-2 mb-2 text-muted " type="button" data-bs-toggle="collapse"
            data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
            <span class="text-muted small-text"> Travel Time </span>
        </div>
        <div class="row mx-2">
            <div class="col">
                <div class="multi-collapse" id="multiCollapseExample2">

                    <div class="row">
                        <div class="col-6 d-sm-inline">
                            <input type="checkbox" class="custom-control-input " id="nighttime">
                            <span class="fa fa-clock text-secondary mx-1"></span>
                            <label class="custom-control-label" for="nighttime"><i
                                    class="bi bi-star-fill"></i>Nighttime(5)</label>
                        </div>
                        <div class="col-4 offset-2 d-sm-inline">
                            <small class="text-muted"> Before 6am</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 d-sm-inline">
                            <input type="checkbox" class="custom-control-input " id="early">
                            <span class="fa-solid fa-cloud-sun text-warning mx-1"></span>
                            <label class="custom-control-label" for="early"><i
                                    class="bi bi-star-fill"></i>Early(8)</label>
                        </div>
                        <div class="col-4 offset-2 d-sm-inline">
                            <small class="text-muted">6am - 11am</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 d-sm-inline">
                            <input type="checkbox" class="custom-control-input " id="midday">
                            <span class="fa-solid fa-sun text-danger mx-1"></span>
                            <label class="custom-control-label" for="midday"><i
                                    class="bi bi-star-fill"></i>Midday(12)</label>
                        </div>
                        <div class="col-4 offset-2 d-sm-inline">
                            <small class="text-muted">11am - 5pm</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 d-sm-inline">
                            <input type="checkbox" class="custom-control-input " id="late">
                            <span class="fa-solid fa-moon text-primary mx-1"></span>
                            <label class="custom-control-label" for="late"><i
                                    class="bi bi-star-fill"></i>Late(17)</label>
                        </div>
                        <div class="col-4 offset-2 d-sm-inline">
                            <small class="text-muted"> After 5pm</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card p-2 mt-4 mb-4 shadow-sm">
        <div class="fa-solid fa-sort-down mx-2 mb-2 text-muted " type="button" data-bs-toggle="collapse"
            data-bs-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">
            <span class="text-muted small-text"> Ticket Type </span>
        </div>
        <div class="row mx-2">
            <div class="col">
                <div class="multi-collapse" id="multiCollapseExample1">

                    <div class="row">
                        <div class="col-6 d-sm-inline">
                            <input type="checkbox" class="custom-control-input " id="etickets">
                            <span class="fa-solid fa-qrcode text-warning mx-1"></span>
                            <label class="custom-control-label text-muted" for="etickets">
                                <i class="bi bi-star-fill"></i>E-Tickets (5)</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 d-sm-inline">
                            <input type="checkbox" class="custom-control-input " id="onlyDirect">
                            <span class="fa-solid fa-bolt text-success mx-1 "></span>
                            <label class="custom-control-label text-muted" for="onlyDirect"><i class="bi bi-star-fill"></i>Only
                                Direct (8)</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>